{% extends "users/base.html" %}

{% block head_content %}
    <title>Platzigram sign in</title>
{% endblock %}

{% block container %}
    {% if error %}
    <p class="alert alert-danger">
        {{ error }}
    </p>
      
    {% endif %}
    
    <form class="" action='{% url "users:login" %}' method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control"  name="username" placeholder="Username" >
        </div>
        <div class="form-group">
            <input type="password" class="form-control"  name="password" placeholder="Password" >
        </div>

        <button class="btn btn-primary btn-block mt-5" type="submit" >
            Sign In!
        </button>
    </form>

    <p class="mt-4">Don't have an account yet? <a href="{% url 'users:signup' %}">Sign up here.</a> </p>

{% endblock %}
